#time {
    padding: 4px 15px 4px 15px;
    display: none;
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
}

#player, #video1 {
    width: 720px;
}

#player:hover #time {
    position: relative;
    top: -30px;
    display: block;
}

button {
    background-color: transparent;
    float:right;
    position: relative;
    top: -4px;
    border: none;
}